*{
    margin: 0;
    padding: 0
}
body{
    background:green
}
.myTable{
    /* padding: 1rem; */
    color: white;
    margin: 1rem auto;
}

/* tr{
    padding: 0
} */
td{
    /* box-sizing: border-box */
}
.myTable>tr:not(:first-child){
    border: 1px solid gray
}
.myTable>tr:first-child{
    color:green;
    height:1rem
}