body {
  background: white;
}
.customerStatTable {
  width: 100%;
  color: black;
}
.customerStatTable thead tr > td:nth-child(1),
.customerStatTable thead tr > td:nth-child(2) {
  /* padding: 1rem; */
}
.customerStatBody > tr {
  border-top: 2px solid black;
  border-bottom: 2px solid white;
}
.customerStatBody > tr > td:first-child {
  padding: 0 1rem;
}
.customerStatBody > tr > td:nth-child(1) {
  border-right: 2px solid black;
}
.customerStatBody > tr > td:nth-child(2) {
  border-right: 2px solid black;
}
.customerStatBody > tr > td:nth-child(3) {
  border-right: 2px solid black;
}
.customerStatBody > tr > td:nth-child(4) {
  border-right: 2px solid black;
}
.customerStatBody > tr > td:nth-child(5) {
  border-right: 2px solid black;
}
.customerStatBody > tr > td:nth-child(6) {
  border-right: 2px solid black;
}
.customerStatBody > tr > td:nth-child(7) {
  border-right: 2px solid black;
}

.statTableName {
  width: 100%;
}

.statTableName > tr:not(:last-child) {
  border-bottom: 1px solid black;
}
.statTableQuantity {
  width: 100%;
}

.statTableQuantity > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.statTablePrice {
  width: 100%;
}
.statTablePrice > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.statTableQuantity {
  width: 100%;
}

.statTableQuantity > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.statTableTotalCost {
  width: 100%;
}

.statTableTotalCost > tr:not(:last-child) {
  border-bottom: 1px solid black;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
