.customerStatTable {
  width: 100%;
}
.customerStatTable thead tr > td:nth-child(1),
.customerStatTable thead tr > td:nth-child(2) {
  padding: 1rem;
}
.customerStatBody > tr {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.customerStatBody > tr > td:first-child {
  padding: 1rem;
}
.customerStatBody > tr > td:nth-child(2) {
  border: 2px solid black;
  padding: 1rem;    
}

.statTableName {
  width: 100%;
}

.statTableName > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.statTablePrice {
  width: 100%;
}

.statTablePrice > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.statTableQuantity {
  width: 100%;
}

.statTableQuantity > tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.statTableTotalCost {
  width: 100%;
}

.statTableTotalCost > tr:not(:last-child) {
  border-bottom: 1px solid black;
}
